<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NF</title>

</head>
<body style="margin: 0; padding:0; font-family: Arial, Helvetica, sans-serif;" >

    <table  bgcolor="#E4E6E9" border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <!---------Header------>
                <table align="center" border="0" width="600px" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" style="padding: 60px 0 50px 0; background-color:#002f71">
                            <img src="https://uploaddeimagens.com.br/images/004/276/696/thumb/logo_branca.png?1672249934" style="width: 150px;">
                        </td>
                    </tr>
                    <!-----Corpo---->
                    <tr>
                        <td bgcolor="#fff" align="center" style="background-color: #ffffff;">
                            <table border="0" width="600px" cellpadding="0" cellspacing="0" style="padding: 30px; color: #313131;" >
                                <tr align="left">
                                    <td>
                                        <center><h3 >Você recebeu um novo documento!</h3></center><br></br>

                                        <span><%= req.Solicitante%>  informou que o documento abaixo foi enviado para o pagamento.</span> <br></br>
                                        <span><b>Solicitação n°:</b> <%= req.Codigo%> </span><br></br>
                                        <span><b>Descrição: </b> <%= req.Descricao%> </span><br></br>
                                        <span><b>Fornecedor:</b>  <%= req.Fornecedor%> </span>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" width="600px" cellpadding="0" cellspacing="0" style="padding: 15px;">

                            </table>
                        </td>
                    </tr>
                    <!-----Footer----->
                  <tr>
                       <td style="padding: 20px; background-color:#002f71;">
                            <center><table border="0" width="600px" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="85%">
                                    
                                    <div style="font-family: Arial, sans-serif; line-height: 19px; color: #a71616; font-size: 13px; text-align: center;">
                             
                                        <a  href=<%= href%>  style="color: #000000; text-decoration: none; margin: 0px; text-align: center; vertical-align: baseline; border: 4px solid #ffffff; padding: 4px 9px; font-size: 13px; line-height: 21px; background-color: #fbfbfc;">&nbsp; Acessar Plataforma &nbsp;</a></center>
                                    </div>

                            </table></center>
                        </td>
                    </tr>

                </table>

            </td>
        </tr>

    </table>
</body>
</html>