<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', { title: 'Acompanhar' } ) %>

  <script src="/public/main.js"></script>
  <script src="/public/acompanhar/acompanhar.js"></script>
  <link rel="stylesheet" href="../../../public/global.css">
  <link rel="stylesheet" href="../../public/acompanhar/acompanhar.css">

  <body>

    <%- include('../../components/menu') %>

      <section class="home">
        <%- include('../../components/navbar') %>

          <main class="text">

            <div id="alterar-solicitacoes">
              <h2 style="border-bottom: 1px solid #27417B; margin-bottom: 25px; padding: 13px 0">
                Solicitações de Compra
              </h2>
            </div>

            <p> </p>

            <form action="/solicitacoes/listar" method="get">

              <div class="row g-3">
                <div class="col">
                  <input name="Descricao" id="Descricao" for="Descricao" type="text" class="form-control"
                    placeholder="Descricao Item" aria-label="First name" style="font-size: 13px"
                    value="<%=filtros.Descricao%>">
                </div>
                <div class="col">
                  <input readonly name="Solicitante" id="Solicitante" for="Solicitante" type="text" class="form-control"
                    placeholder="Solicitante" aria-label="Last name" style="font-size: 13px"
                    value="" />
                  <input name="pagina" type="text" id="pagina" hidden value="<%=paginas.corrente%>" />
                  <input name="paginas" type="text" id="paginas" hidden value="<%=paginas.total%>" />
                </div>

              </div>

              <p> </p>

              <div class="row g-3">
                <div class="col">
                  <select name="statusItem" class="form-control" id="Status" style="font-size: 13px">
                    <option selected value="<%=filtros.statusItem%>">Status</option>
                    <option value="P">Pendente Aprovação</option>
                    <option value="A">Aguardando Compra</option>
                    <option value="C">Compra Finalizado</option>

                  </select>
                </div>

                <div class="col">
                  <select name="centroCustoFiltro" class="form-control" id="CentroCusto" style="font-size: 13px;">
                    <option selected value="<%=filtros.centroCustoNormal%>">Centro de Custo</option>

                  </select>
                </div>
              </div>
              <br>

              <button class="button" type="submit" role="button" id="buscar" onclick="listar()"><i class='bx bx-search'></i>
                 Buscar</button>






              <p> </p>


              <div class="table-responsive">


                <table class="table table-sm table-hover" id="myTable">

                  <thead class="topo-tabela">

                    <th class="center" style="text-align: center;"> N° da Solicitação</th>
                    <th style="text-align: center;"> Descrição</th>
                    <th style="text-align: center;"> Solicitante</th>
                    <th style="text-align: center;"> Quantidade</th>
                    <th style="text-align: center;"> Data da Solicitação </th>
                    <th style="text-align: center;"> Comprador </th>
                    <th style="text-align: center;"> Status </th>
                    <th style="text-align: center;"> Ações </th>
                  </thead>



                  <tbody style="font-size: 13px" class="table-line" id="tbody">
                    <% solicitacoes.forEach(socilitacao=> { %>
                      <tr  style="text-align: center;">
                        <td class="linhas">
                          <%=socilitacao.Codigo%>
                        </td>
                        <td class="linhas">
                          <%=socilitacao.Descricao%>
                        </td>
                        <td class="linhas">
                          <%=socilitacao.Solicitante%>
                        </td>
                        <td class="linhas">
                          <%=socilitacao.Quantidade%>
                        </td>
                        <td class="linhas">
                          <%=socilitacao.DataAtualizacao%>
                        </td>
                        <td class="linhas">
                          <%=socilitacao.Comprador || 'Pollyanna' %>
                        </td>
                        <td class="linhas">
                          <% if(socilitacao.Status_Compra == 'A') { %>
                            <a class="btn btn-primary text-white buttonStatus" style=" height: 27px; font-size: 11px">Aguardando Compra</a>
                            <% } %>
                            <% if(socilitacao.Status_Compra == 'P') { %>
                              <a class="btn btn-warning text-white buttonStatus" style=" height: 27px; font-size: 11px">Pendente Aprovação</a>
                              <% } %>
                              <% if(socilitacao.Status_Compra == 'C') { %>
                                <a class="btn btn-success text-white buttonStatus" style=" height: 27px; font-size: 11px">Comprado</a>
                                <% } %>


                        </td>
                        <td class="linhas">
                          <a href="/solicitacoes/<%=socilitacao.Codigo%>/edit"> <i class='bx bx-edit iconEdit alterar-icon'></i></a>
                        </td>
                      </tr>
                      <% }) %>


                  </tbody>


                </table>




                <button id="openModal" data-toggle="modal" data-target="#myModal" class=" button2"
                  hidden>Próxima</button>


              </div>

              <div class="row g-2" style="margin-top: 1.5%; margin-left: 0%">
                <div>
                  <button id="prev" onclick="prevPage()" class=" button-anterior">Anterior</button>
                </div>
                <div>
                  <button id="prox" onclick="proxPage()" class=" button-proximo">Próxima</button>
                </div>
              </div>
            </form>


          </main>
          <button id="detalhamento" hidden></button>






      </section>

  </body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</html>
