<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Detalhamento' } ) %>

  <script src="/public/detalhamento/detalhamento.js"></script>
  <link rel="stylesheet" href="/public/novaSolicitacao/novaSolicitacao.css">

  <body>

    <%- include('../components/menu' ) %>

      <section class="home">
        <%- include('../components/navbar', { usuario: 'Gustavo' } ) %>

          <main class="text">

            <h2 style="border-bottom: 1px solid #120947; margin-bottom: 25px; margin-top: 25px;  padding: 13px 0">
              Detalhamento</h2>
            <p> </p>







            

            <% if(retornoUser.compras.editar){ %>


<form action="/compras/comprar" method="get">






              <div class="row g-3">
                <div class="col Descricao">
                  <label>Descrição:</label>
                  <input id="Descricao" for="Descricao" type="text" class="form-control"
                    value="<%= solicitacao.Descricao  %>" placeholder="Descricao do Item">

                </div>
                <div class="col Quantidade">
                  <label>Quantidade:</label>
                  <input id="Quantidade" for="Quantidade" type="text" class="form-control" placeholder="N°"
                    value="<%= solicitacao.Quantidade %>">
                </div>



              </div>
              <p> </p>
              <div class="row g-3">
                <div class="col CentroCusto">
                  <label>Centro de Custo:</label>
                  <select id="CentroCusto" class="form-control">
                    <option selected>"<%= solicitacao.Centro_de_Custo %>"</option>

                  </select>

                  <!-- <div class="col CentroCusto"> -->
                  <label for="fname">Data da Compra:</label>
                  <input id="dataDaCompra" class="form-control" type="date">
                  <!-- </div> -->
                  <!-- <div class="col CentroCusto"> -->
                  <label for="fname">Previsão de Entrega:</label>
                  <input id="previsaoDeEntrega" class="form-control" style="margin-bottom: 10%;" type="date">

                  <label for="cars">Possui Parcelas?</label>
                  <div>
                      <input onclick="adicionarCampoParcelas()" type="radio" id="Sim" name="fav_language" value="Sim">
                      <label for="Sim">Sim</label><br>
                      <input onclick="removerCampoParcelas()" type="radio" id="Não" name="fav_language" value="Não"
                      checked>
                      <label for="Não">Não</label><br>
                  </div>

                  <div id="divParcela"></div>


                  <!-- </div> -->
                </div>




                <div class="col Deal">
                  <label>Deal:</label>
                  <input id="Deal" for="Quantidade" type="text" class="form-control" placeholder="Deal"
                    value="<%= solicitacao.Deal %>">
                  <label for="fname">Valor:</label>
                  <input id="valorDaCompra" class="form-control" type="number">
                  <!-- <div class="col"> -->
                  <label for="fname">Metodo de Pagamento:</label>
                  <input id="metodo" class="form-control" type="text">
                  <!-- </div> -->
                  <!-- <div class="col"> -->

                  <!-- </div> -->
                </div>
              </div>
              <p> </p>




              <label id="MotivoLabel">Motivo da Compra:</label>
              <input id="Observações" type="text" class="form-control emailText" placeholder="Observações"
                aria-label="First name" value="<%= solicitacao.Observacao %>">

              <!-- </div> -->
              <p> </p>
              <!-- <div class="row g-3" id="aprovacao"> -->

              <!-- <div id="aprov">
                            <label id="aprovaLabel">Aprovações:</label>
                
                          </div> -->

              <!-- <div id="adicionar" >
                            <button onclick="listar()" class="btn btn-outline-success">+</button>
                          </div>
                          <div id="remover" >
                            <button onclick="removerEmail()" class="btn btn-outline-success">-</button>
                          </div> -->
              <datalist id="browsers">
                <option value="Edge">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
              </datalist>


              <!-- </div> -->




              <!-- </div> -->

              <p></p>

              <!-- <form>
                        <div class="form-group anexo" style="margin-top: 3%; font-size: 13px">
                          <label for="exampleFormControlFile1">Anexar Arquivo</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                      </form> -->





              <button type="submit" name="inserir" id="botao-solicitar"
                class="btn btn-outline-success">Salvar</button>

              </div>


            </form>
















              <% } else if (retornoUser.compras.comprar) { %>



















<form action="/compras/comprar" method="get">


                <div class="row g-3">
                  <div class="col Descricao">
                    <label>Descrição:</label>
                    <input disabled id="Descricao" for="Descricao" type="text" class="form-control"
                      value="" placeholder="<%= solicitacao.Descricao  %>">

                  </div>
                  <div class="col Quantidade">
                    <label>Quantidade:</label>
                    <input disabled id="Quantidade" for="Quantidade" type="text" class="form-control" placeholder="N°"
                      value="<%= solicitacao.Quantidade %>">
                  </div>



                </div>
                <p> </p>
                <div class="row g-3">
                  <div class="col CentroCusto">
                    <label>Centro de Custo:</label>
                    <select disabled id="CentroCusto" class="form-control">
                      <option selected>"<%= solicitacao.Centro_de_Custo %>"</option>

                    </select>
                    <!-- <div class="col CentroCusto"> -->
                    <label for="fname">Data da Compra:</label>
                    <input id="dataDaCompra" class="form-control" type="date" name="dataDaCompra">
                    <input id="codigo" name="codigo" value="<%=solicitacao.Codigo%>" hidden>
                    <!-- </div> -->
                    <!-- <div class="col CentroCusto"> -->
                    <label for="fname">Previsão de Entrega:</label>
                    <input id="previsaoDeEntrega" class="form-control" style="margin-bottom: 10%;" type="date" name="previsaoDeEntrega">

                    <label for="cars">Possui Parcelas?</label>
                    <div>
                        <input onclick="adicionarCampoParcelas()" type="radio" id="Sim" name="fav_language" value="Sim">
                        <label for="Sim">Sim</label><br>
                        <input onclick="removerCampoParcelas()" type="radio" id="Não" name="fav_language" value="Não"
                        checked>
                        <label for="Não">Não</label><br>
                    </div>

                    <div id="divParcela"></div>


                    <!-- </div> -->
                  </div>




                  <div class="col Deal">
                    <label>Deal:</label>
                    <input disabled id="Deal" for="Quantidade" type="text" class="form-control" placeholder="Deal"
                      value="<%= solicitacao.Deal %>">
                    <label for="fname">Valor:</label>
                    <input id="valorDaCompra" class="form-control" type="number" name="valorDaCompra">
                    <!-- <div class="col"> -->
                    <label for="fname">Metodo de Pagamento:</label>
                    <select name="" id="" class="form-control">
                      <option value="">Cartão Corporativo</option>
                      <option value="">Boleto</option>
                      <option value="">Pix</option>
                    </select>

                    <!-- </div> -->
                    <!-- <div class="col"> -->

                    <!-- </div> -->
                  </div>
                </div>
                <p> </p>




                <label id="MotivoLabel">Motivo da Compra:</label>
                <input disabled id="Observações" type="text" class="form-control emailText" placeholder="Observações"
                  aria-label="First name" value="<%= solicitacao.Observacao %>">

                <!-- </div> -->
                <p> </p>
                <!-- <div class="row g-3" id="aprovacao"> -->

                <!-- <div id="aprov">
                              <label id="aprovaLabel">Aprovações:</label>
                  
                            </div> -->

                <!-- <div id="adicionar" >
                              <button onclick="listar()" class="btn btn-outline-success">+</button>
                            </div>
                            <div id="remover" >
                              <button onclick="removerEmail()" class="btn btn-outline-success">-</button>
                            </div> -->
                <datalist id="browsers">
                  <option value="Edge">
                  <option value="Firefox">
                  <option value="Chrome">
                  <option value="Opera">
                  <option value="Safari">
                </datalist>


                <!-- </div> -->




                <!-- </div> -->

                <p></p>

                <!-- <form>
                          <div class="form-group anexo" style="margin-top: 3%; font-size: 13px">
                            <label for="exampleFormControlFile1">Anexar Arquivo</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div>
                        </form> -->





                <button type="submit" name="inserir" id="botao-solicitar"
                  class="btn btn-outline-success">Salvar</button>

                </div>

</form>



























                <% } else if (retornoUser.compras.solicitante) { %>





















<form action="/compras/comprar" method="get">



                  <div class="row g-3">
                    <div class="col Descricao">
                      <label>Descrição:</label>
                      <input id="Descricao" for="Descricao" type="text" class="form-control"
                        value="" placeholder="Descricao do Item">
    
                    </div>
                    <div class="col Quantidade">
                      <label>Quantidade:</label>
                      <input id="Quantidade" for="Quantidade" type="text" class="form-control" placeholder="N°"
                        value="<%= solicitacao.Quantidade %>">
                    </div>
    
                  </div>
                  <p> </p>
                  <div class="row g-3">
                    <div class="col CentroCusto">
                      <label>Centro de Custo:</label>
                      <select id="CentroCusto" class="form-control">
                        <option selected>"<%= solicitacao.Centro_de_Custo %>"</option>
                      </select>
    
                    </div>
    
                    <div class="col Deal">

                      <label>Deal:</label>
                      <input id="Deal" for="Quantidade" type="text" class="form-control" placeholder="Deal"
                        value="<%= solicitacao.Deal %>">

                    </div>
                  </div>
                  <p> </p>
    
                  <label id="MotivoLabel">Motivo da Compra:</label>
                  <input id="Observações" type="text" class="form-control emailText" placeholder="Observações"
                    aria-label="First name" value="<%= solicitacao.Observacao %>">
    
                  <p> </p>
                 
                  <datalist id="browsers">
                    <option value="Edge">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                  </datalist>
    
                  <p></p>
    
    
                  </div>
                </form>

                  <%
                  if(solicitacao.Status_Compra) {
                    %> 
                    <label><%= solicitacao.Status_Compra %></label>
                    <%
                  }

                  } %>


          </main>
      </section>

  </body>

</html>